
slideshow/__pycache__/

*.swp

utils/__pycache__/

data/cache

slideshow/


data/log

utils/__pycache__/

pysky/data/cache

pysky/data/log

venv/

utils/PySky.egg-info/

build/

pysky/__pycache__/

pysky/PySky.egg-info/
