
slideshow/__pycache__/

.mypy_cache/

*.swp

utils/__pycache__/

slideshow/

pysky/data/static_data

pysky/data/VisibleCadwellCatalog.json

pysky/data/VisibleMessierCatalog.json

pysky/data/user_prefs.cfg

venv/

build/

pysky/__pycache__/

pysky/PySky.egg-info/

*_test.py

pysky/data/cache

pysky/data/log
